/* css do cabeçalho*/
body{
    font-family: 'Montserrat', sans-serif;
    
}
header{
    background: rgb(167, 167, 167);
    padding: 20px 0;
}
.caixa{
    
    position: relative;
     width: 940px;
     margin: 0 auto; 
     
     
}
nav{
    position: absolute;
    top:102.17px;
    right: 70px;
}
nav li{
    display: inline-block;
    margin: 0 0 0 5px;
    
}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
      
}
nav a:hover{
    color: #c76d19;
    font-style:initial;
}

/* css dos Produtos */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 ;   
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.25%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 50px;
}
.produtos h2{
    font-weight:bold;
    font-size: 22px;
}
.produtos-descricao{
    font-size: 18px;
}
.produtos-preco{
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}
.produtos li:hover{
    border-color: #c76d19;
    box-shadow: 2px 2px 4px black;
}
.produtos li:active{
    border-color: #444444;
}
.produtos li:hover h2{
    font-size: 25px;

}

/*css do rodape*/

.rodape{

    background:url("imagens/rodapeBarbearia\ .png");
    height: 300px;
    width: 100%;
}
.rodape p{
    position: relative;
    color: white;
    text-align: center;
    
}
.imagem-rodape{
    width: 13%;
    padding: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

form{
    margin: 40px 0;
}

/*css dos contatos */

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 10px ;
    margin-left:25%;

}
.input-padram{
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    border: none;
    box-shadow: 3px 3px 4px #a3a3a3 ;
    margin: 0 auto;
}

fieldset select{

    margin-left:25%;
}
.checkbox {
    margin: 25px 0;
}

.Enviar{
    width: 25%;
    padding: 15px 22px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none;    
    background-color: orange;
    box-shadow: 3px 3px 4px #a3a3a3;
    color: white;
    transition: 1s all;
    cursor: pointer;
    margin-left: 25%;
}
.Enviar:hover{
    background: darkorange;
    box-shadow: 3px 3px 4px #6e6d6d;
    transform: scale(1.05) ;



}
table{
    margin: 20px 25px 20px 25% ;
    width: 25%;
    
}
thead{
    background-color: rgb(88, 88, 88);
    color: white;
    font-weight: bold;
    margin-left: 25%;
}
th, td{
    padding: 6px 10px;
    border: solid black 2px;
}

/*css da pagina inicioal*/

.baner{
    width: 100%;
    height: 600px;
}
.titulo-princioal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.sobre_a_barbearia{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
    background-color: #FEFEFE;
}

.sobre_a_barbearia p{
    margin: 0 0 2em;
}

.sobre_a_barbearia b {
    font-weight: bold;
}

.sobre_a_barbearia i{
    font-style: italic;
}
.utencilios{
    width: 20%;
    float: left;
    margin: 0 20px 20px 0;
}

.localização p{
    margin: 0 0 1em;
}
.mapa{
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(#FEFEFE ,#888888);
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.mapa p {
    margin: 0 0 3em
}

.Beneficios{
    padding: 3em 0;
    background-color: #888888;
}
.conteudo-beneficio{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficio{
    display: inline-block;
    width: 40%;
    vertical-align:top;
    list-style-type:"\★";
}
.item{
    line-height: 1.25em;
}
.item:nth-child(1){
    font-weight: bold;

}
.conteudo-beneficio img{
    width: 60%;
}
.video{
    width: 560px;
    margin: 3em auto;
}