header{
    background: rgb(175, 174, 174);
    padding: 20px 0;
    border-radius: 0px 0px 50px 50px;
    border-width: thick;
}
.caixa{
    
    position: relative;
     width: 940px;
     margin: 0 auto; 
     
     
}
nav{
    position: absolute;
    top:102.17px;
    right: 70px;
}
nav li{
    display: inline-block;
    margin: 0 0 0 5px;
    
}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
}
nav a:hover{
    color: #c76d19;
    font-style:initial;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.25%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 50px;
}
.produtos h2{
    font-weight:bold;
    font-size: 22px;
}
.produtos-descricao{
    font-size: 18px;
}
.produtos-preco{
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}
.produtos li:hover{
    border-color: #c76d19;
    box-shadow: 2px 2px black;
}
.produtos li:active{
    border-color: #444444;
}
.produtos li:hover h2{
    font-size: 25px;

}
.rodape{

    background:url("imagens/rodapeBarbearia\ .png");
    margin-top: 100px;
    height: 300px;
    width: 100%;
    
    padding-top: 180px;
}
.rodape p{
    position: relative;
    color: white;
    text-align: center;
    
}
.imagem-rodape{
    width: 13%;
    padding: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}